.st0{fill:#E6E6E6;}
	.st1{fill:#B4B4B4;}
	.st2{fill:none;stroke:#B4B4B4;stroke-miterlimit:10;}
	.st3{fill:#4E4E4E;}
	.st4{fill:none;stroke:#343434;stroke-width:2.7084;stroke-miterlimit:10;stroke-dasharray:8.1251;}
	.st5{fill:url(#XMLID_86_);}
	.st6{fill:#676767;}
	.st7{fill:none;stroke:#343434;stroke-width:3;stroke-miterlimit:10;stroke-dasharray:8;}
	.st8{clip-path:url(#XMLID_88_);}
	.st9{fill:#CDCCCC;}
	.st10{fill:none;stroke:#676767;stroke-width:1.8367;stroke-miterlimit:10;}
	.st11{fill:#FFFFFF;}
	.st12{fill:#9A9999;}
	.st13{fill:#343434;}
	.st14{}
	.st15{font-size:18px;}
	.st16{opacity:0.66;fill:#AECB36;}
	.st17{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
#XMLID_4_:hover{
    cursor:pointer;
    opacity:0.5;
}

#XMLID_3_ {
    
}

#XMLID_272_ {
    
}

#XMLID_250_:hover{
    cursor:pointer;
    opacity:0.5;
}

#XMLID_243_:hover{
    cursor:pointer;
    opacity:0.5;
}
text {font: 32px 'open sans'; text-rendering: geometricPrecision; }